var firebase = require('firebase')

var firebaseConfig = {
    apiKey: "",
    authDomain: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: "",
    measurementId: ""
}
const Firebase = firebase.initializeApp(firebaseConfig)

export default Firebase
