var firebase = require('firebase')

const firebaseConfig = {
    apiKey: "",
    authDomain: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: "",
    measurementId: ""
}

exports.Firebase = firebase.initializeApp(firebaseConfig)

